<div class="suggest_content-box">
  <div class="suggest_title">
    <h3 class="center"><%= suggest.title %></h3>
  </div>
  <div class="suggest_worker">
    <span class="dis-b pa-l-90"><%= suggest.worker.kana_fullname %></span>
    <h4>掲載者：<%= suggest.worker.fullname %></h4>
  </div>
  <h3 class="center pa-20">内容</h3>
  <div class="suggest_info-box">
    <table class="table table-borderless table-sm">
      <tbody>
        <tr>
          <th scope="row"><h4>希望勤務日</h4></th>
          <td><span class="font-20"><%= suggest.target_date.strftime("%Y年%m月%d日") %>（<%= weekday(suggest.target_date) %>）</span></td>
        </tr>
        <tr>
          <th scope="row"><h4>希望勤務時間</h4></th>
          <td><span class="font-20"><%= suggest.opening.strftime("%H:%M") %>〜<%= suggest.closing.strftime("%H:%M") %></span></td>
        </tr>
        <tr>
          <th scope="row"><h4>希望時給</h4></th>
          <td><span class="font-20">¥<%= suggest.price.to_s(:delimited) %></span></td>
        </tr>
        <tr>
          <th scope="row"><h4>希望勤務地</h4></th>
          <td>
            <% suggest.locations.each do |location| %>
              <span class="font-20"><%= location.place %></span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th scope="row"><h4>希望業務内容</h4></th>
          <td>
            <% suggest.types.each do |type| %>
              <span class="font-20"><%= type.name %></span>
            <% end %>
          </td>
        </tr>
        <tr><th colspan="2"></th></tr>
        <tr>
          <th scope="row"><h4>詳細</h4></th>
          <td></td>
        </tr>
        <tr>
          <td colspan="2"><p><%= suggest.detail %></p></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>