<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <% if employer_signed_in? %>
        <div id="hold_toggle" class="right">
          <%= render partial:"holds/hold_btn", locals:{suggest: @suggest, hold: @hold} %>
        </div>
      <% elsif %>
        <div class="link_btn right">
          <%= link_to "編集/削除", edit_suggest_path(@suggest), class:"btn btn-info" %>
        </div>
      <% end %>
      <%= render "suggests/content", suggest: @suggest %>
      <% if employer_signed_in? %>
        <div class="contract-link wid-70 ma-a">
          <%= link_to "採用オファーを出す", new_suggest_offer_path(@suggest), class:"btn btn-success wid-100" %>
        </div>
      <% elsif worker_signed_in? %>
        <div class="contract-link wid-70 ma-a">
          <%= link_to "一覧へ戻る", suggests_path, class:"btn btn-primary wid-100" %>
        </div>
      <% end %>
    </div>
  </div>
</div>