<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <%= render "suggests/content", suggest: @suggest %>
      <% if employer_signed_in? %>
        <span>保留しておくと、一覧から探しやすくなります</span>
        <div id="hold_toggle" class="ma-b-50 dis-ib">
          <%= render partial:"holds/hold_btn", locals:{suggest: @suggest, hold: @hold} %>
        </div>
      <% elsif %>
        <div class="link-btn ma-b-50 right">
          <%= link_to "編集/削除", edit_suggest_path(@suggest), class:"btn btn-info" %>
        </div>
      <% end %>
      <% if employer_signed_in? %>
        <% if @suggest.is_active? %>
          <% if current_employer.offered?(@suggest) %>
            <div class="contract-link wid-70 ma-a">
              <%= link_to "オファー提出済み（確認）", employers_path, class:"btn btn-secondary wid-100" %>
            </div>
          <% else %>
            <div class="contract-link wid-70 ma-a">
              <%= link_to "オファーを出す", new_suggest_offer_path(@suggest), class:"btn btn-success wid-100" %>
            </div>
          <% end %>
        <% else %>
          <div class="contract-link wid-70 ma-a border">
            <p class="center pa-20 font-20">この案件は契約済みです</p>
          </div>
        <% end %>
      <% elsif worker_signed_in? %>
        <div class="contract-link wid-70 ma-a">
          <%= link_to "一覧へ戻る", suggests_path, class:"btn btn-primary wid-100" %>
        </div>
      <% end %>
    </div>
  </div>
</div>