<div class="review_index">
  <h4 class="sub-title">レビュー未済</h4>
  <div class="index-box border scroll-box">
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th scope="col" width="60%">勤務日時</th>
          <th scope="col" width="40%">レビュー対象</th>
        </tr>
      </thead>
      <% if @review_contracts.any? %>
          <tbody>
            <% @review_contracts.each do |contract| %>
              <tr>
                <td><%= contract.target_date.strftime("%Y年%m月%d日") %>（<%= weekday(contract.target_date) %>）<%= contract.opening.strftime("%H:%M") %>〜<%= contract.closing.strftime("%H:%M") %></td>
                <td><%= contract.worker.fullname %></td>
              </tr>
            <% end %>
          </tbody>
        <% else %>
          <tbody>
            <td colspan="2" class="center">新着レビューはありません</td>
          </tbody>
        <% end %>
    </table>
  </div>
</div>