<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="employer_box">
        <div class="employer_image-box center">
          <% if @employer.image.present? %>
            <%= @employer.image %>
          <% else %>
            <%= image_tag "store-no-image.png", size:"600x400" %>
          <% end %>
        </div>
        <% if employer_signed_in? %>
          <div class="employer_image-edit right">
            <%= link_to "店舗画像変更", image_edit_employer_path(@employer) %>
          </div>
        <% end %>
        <div class="employer_info-box">
          <div class="employer_name-box">
            <%= @employer.kana_store_name %><br>
            <span class="font-30"><%= @employer.store_name %></span>
          </div>
          <div class="employer_info-box">
            <div class="address">
              <p>
                〒<%= @employer.postal_code %><br>
                <%= @employer.address %>
              </p>
            </div>
            <div class="phone_number">
              <p>電話番号：<%= @employer.phone_number %></p>
            </div>
            <div class="introduction">
              <p>店紹介文</p>
              <%= @employer.introduction %>
            </div>
            <% if @employer.url.present? %>
              <div class="url">
                <p>お店URL：<%= @employer.url %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
