<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="employer_box">
        <div class="employer_image-box center">
          <% if @employer.image.present? %>
            <%= image_tag @employer.image.thumb.to_s %>
          <% else %>
            <%= image_tag "store-no-image.png", size: "350x250" %>
          <% end %>
        </div>
        <% if employer_signed_in? %>
          <div class="employer_edit wid-40 ma-l pa-t-30">
            <%= link_to "店舗情報を編集する", edit_employer_path(current_employer), class:"btn btn-outline-primary wid-100" %>
          </div>
        <% end %>
        <div class="employer_info-box">
          <div class="employer_name-box">
            <%= @employer.kana_store_name %><br>
            <span class="font-30"><%= @employer.store_name %></span>
          </div>
          <div class="employer_info-box">
            <div class="address">
              <p>
                〒<%= @employer.postal_code %><br>
                <%= @employer.address %>
              </p>
            </div>
            <div class="phone_number">
              <p>電話番号：<%= @employer.phone_number %></p>
            </div>
            <div class="introduction">
              <p>店紹介文</p>
              <%= @employer.introduction %>
            </div>
            <% if @employer.url.present? %>
              <div class="url">
                <p>お店URL：<%= @employer.url %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
