<div class="offer_content-box">
  <h3 class="center pa-20">オファー内容</h3>
  <div class="offer_info-box">
    <table class="table table-borderless table-sm">
      <tbody>
        <tr>
          <th scope="row"><h4>勤務日</h4></th>
          <td><span class="font-20"><%= offer.suggest.target_date.strftime("%Y年%m月%d日") %>（<%= weekday(offer.suggest.target_date) %>）</span></td>
        </tr>
        <tr>
          <th scope="row"><h4>勤務時間</h4></th>
          <td><span class="font-20"><%= offer.opening.strftime("%H:%M") %>〜<%= offer.closing.strftime("%H:%M") %></span></td>
        </tr>
        <tr>
          <th scope="row"><h4>時給</h4></th>
          <td><span class="font-20">¥<%= offer.price.to_s(:delimited) %></span></td>
        </tr>
        <tr>
          <th scope="row"><h4>勤務地</h4></th>
          <td><%= offer.employer.store_name %></td>
        </tr>
        <tr>
          <th scope="row"><h4>主な業務内容</h4></th>
          <td><%= offer.job_description %></td>
        </tr>
        <tr><th colspan="2"></th></tr>
        <tr>
          <th scope="row"><h4>詳細</h4></th>
          <td></td>
        </tr>
        <tr>
          <td colspan="2"><p><%= offer.content %></p></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>