<%= form_for @offer, url: path do |f| %>

  <div class="field">
    <%= f.label :price, "単価", class:"label" %><br />
    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputPrice">時給</label>
      </div>
      <%= f.number_field :price, autofocus: true, autocomplete: "price", class:"form-control", placeholder: "1500" %>
    </div>
  </div>

  <div class="field selectbox">
    <p class="label">主な業務内容</p>
    <%= f.collection_check_boxes :job_description, @suggest.types, :name, :name, include_hidden: false %>
  </div>

  <div class="field">
    <%= f.label :opening, "始業時間", class: "label" %><br />
    <%= f.time_field :opening, autofocus: true, autocomplete: "opening", class:"form-control" %>
    <%= f.label :closing, "終業時間", class: "label" %><br />
    <%= f.time_field :closing, autofocus: true, autocomplete: "closing", class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :content, "詳細", class: "label" %><span class="font-10">（上記以外に特筆すべきことがある場合は記入してください）</span><br />
    <% placeholder = "例：主な業務はホールスタッフとなっていますが、時間帯によっては洗い場もやっていただく可能性があります。" %>
    <%= f.text_area :content, autofocus: true, autocomplete: "content", class:"form-control", placeholder: placeholder %>
  </div>

  <div class="actions wid-50 ma-a pa-y-30">
    <%= f.submit "オファーする", class:"btn btn-primary wid-100" %>
  </div>

<% end %>