<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="offer_info-box">
        <div class="offer_price">
          <h3>時給　¥<%= @offer.price %></h3>
        </div>
        <div class="offer_time">
          <%= @offer.suggest.target_date.strftime("%Y年%m月%d日") %>　<%= weekday(@offer.suggest.target_date) %><br>
          <%= @offer.opening.strftime("%H:%M") %>〜<%= @offer.closing.strftime("%H:%M") %>
        </div>
        <div class="offer_content">
          <p>掲載内容</p>
          <%= @offer.content %>
        </div>
      </div>
      <div class="offer_confirm-message">
        <p class="center">
          上記の内容でオファーしました。
        </p>
      </div>
      <div class="link-btn ma-t-50">
        <%= link_to "マイページへ戻る", employer_path(current_employer), class:"btn btn-primary" %>
      </div>
    </div>
  </>
</div>