<div class="contract_index">
  <h4 class="sub-title">レビュー待ちの案件</h4>
  <div class="index-box border scroll-box">
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th width="5%"></th>
          <th scope="col" width="30%">勤務日</th>
          <th scope="col" width="18%">勤務時間</th>
          <th scope="col" width="17%">主な業務</th>
          <th scope="col" width="30%">勤務場所</th>
        </tr>
      </thead>
      <% if @review_contracts.any? %>
        <tbody>
          <% @review_contracts.each_with_index do |contract, index| %>
            <tr class="position-relative" data-href="<%= contract_path(contract) %>">
              <th scope="row"><%= index + 1 %></th>
              <td><%= contract.target_date.strftime("%Y年%m月%d日") %>（<%= weekday(contract.target_date) %>）</td>
              <td><%= contract.opening.strftime("%H:%M") %>〜<%= contract.closing.strftime("%H:%M") %></td>
              <td><%= contract.job_description %></td>
              <td><%= contract.employer.store_name %></td>
            </tr>
          <% end %>
        </tbody>
      <% else %>
        <tbody>
          <td colspan="5" class="center">レビュー待ちの案件はありません</td>
        </tbody>
      <% end %>
    </table>
  </div>
</div>