<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="worker_info-box border">
        <div class="worker_image-box center pa-y-20">
          <% if current_worker.image.present? %>
            <%= current_worker.image %>
          <% else %>
            <%= image_tag "no_image.png", size: "200x250" %>
          <% end %>
        </div>
        <div class="worker_name-box center pa-y-30">
          <%= current_worker.kana_fullname %><br>
          <span class="font-30"><%= current_worker.fullname %></span>
        </div>
        <div class="worker_info-content pa-20">
          <div class="sex">
            <p>性別：<%= current_worker.sex_i18n %></p>
          </div>
          <div class="birthday">
            <p>生年月日：<%= current_worker.birthday.strftime("%Y年%m月%d日") %>（満<%= current_worker.age %>歳）</p>
          </div>
          <div class="address">
            <p>
              〒<%= current_worker.postal_code %><br>
              <%= current_worker.address %>
            </p>
          </div>
          <div class="phone_number">
            <p>TEL：<%= current_worker.phone_number %></p>
          </div>
          <div class="introduction pa-b-30">
            <p>自己紹介文</p>
            <%= current_worker.introduction %>
          </div>
          <div class="link_btn">
            <%= link_to "プロフィール詳細/編集", worker_path(current_worker), class:"page-link text-dark d-inline-block" %>
          </div>
          <div class="location">
            <%= render "locations/index", locations: @locations %>
          </div>
        </div>
        <%= render "incumbents/index", incumbents: @incumbents %>
      </div>
      <div class="worker_menu-box">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= link_to "入金口座一覧", banks_path %></li>
          <li class="list-group-item"></li>
          <li class="list-group-item"><%= link_to "ログアウト", destroy_worker_session_path, method: :delete %></li>
        </ul>  
      </div>
    </div>
    <div class="col-8">
      <div class="all_index-box">
        <%= render "workers/new_index" %>
        <div class="worker_menu row pa-y-30">
          <div class="link_btn col-6">
            <%= link_to "案件作成", new_suggest_path, class:"menu_btn" %>
          </div>
          <div class="link_btn col-6">
            <%= link_to "スケジュール管理", "#", class:"menu_btn" %>
          </div>
          <div class="link_btn col-6">
            <%= link_to "契約履歴", contracts_path, class:"menu_btn" %>
          </div>
          <div class="link_btn col-6">
            <%= link_to "レビュー一覧", reviews_path, class:"menu_btn" %>
          </div>
        </div>
        <%= render "workers/suggests_index" %>
        <%= render "workers/contracts_index" %>
        <%= render "workers/reviews_index" %>
      </div>
    </div>
  </div>
</div>
