<!DOCTYPE html>
<html>
  <head>
    <title>RentMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/64b8b4bea1.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render "shared/flash_message" %>
    <% if current_worker %>
      <%= link_to current_worker.fullname, workers_path %>
    <% elsif current_employer %>
      <%= link_to current_employer.store_name, employers_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
