<!DOCTYPE html>
<html>
  <head>
    <title>RentMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_worker %>
      <%= link_to current_worker.fullname, worker_path(current_worker) %>
    <% elsif current_employer %>
      <%= link_to current_employer.store_name, employer_path(current_employer) %>
    <% end %>
    <%= yield %>
  </body>
</html>
